/*=============================
	Element Styles
=============================*/

body {
	background-color: #dee8f7;
	font-family: sans-serif;
}

fieldset {
	margin-bottom: 1em;
	border-style: none;
}

h1 {
	margin-bottom: 0;
}

h3 {
	margin-top: .5em;
}

textarea {
	min-width: 250px;
	min-height: 100px;
}

input:invalid {
	background-color: #fce5e5;
}

input:valid {
	background-color: #e5fce7;
}

legend {
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 0;
}

/*=============================
	Class Styles
=============================*/

.underlined {
	text-decoration: underline;
}

.radio {
	margin-right: .5em;
}

.loan-length {
	/*margin-top: 1em;*/
	border: none;
	padding-left: 0;
	margin-bottom: 0;
}

.length-legend {
	padding-left: 0;
}

.slightly-smaller {
	font-size: 1.1em;
}

/*=============================
	ID Styles
=============================*/

#emp-address {
	margin-top: .5em;
	border: none;
	padding-left: .3em;
	border-left: 1px dotted grey;
}

#submit {
	width: 200px;
	margin-top: .5em;
	margin-bottom: 1em;
	background-color: white;
	font-weight: bold;
}

#submit:hover {
	background-color: #e5fce7;
}

#tel-format {
	font-size: .75em;
	font-weight: bold;
}

#middle_initial {
	width: 1em;
}